@model SuiviFitness.Models.Objectif

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Objectif</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Effectuer" asp-route-id="@Model.ObjectifId">Effecturer</a> |
</div>
