
<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Energym</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap"
          rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page about_page">


    <!-- about section -->

    <section class="about_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    À propos d'Energym
                </h2>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="~/images/about-img.png" alt="Image logo">
                </div>
                <div class="detail-box">
                    <p>
                        Bienvenue sur Ergym, votre compagnon ultime pour atteindre vos objectifs de fitness de manière efficace et 
                        personnalisée ! Notre application a été conçue avec passion pour aider les sportifs de tous niveaux à maximiser 
                        leurs performances et à suivre leur progression avec facilité.
                    </p> <br />
                    <p> 
                        Que vous soyez un amateur de fitness ou un athlète chevronné, 
                        Ergym s'adapte à vos besoins spécifiques en fournissant des programmes 
                        d'entraînement sur mesure. Notre équipe d'experts en fitness a élaboré 
                        des routines variées et dynamiques, allant de l'entraînement en force à la 
                        flexibilité, en passant par la cardio, pour vous offrir une expérience complète
                    </p> <br /> 

                    <p>
                        L'interface conviviale d'Ergym vous permet de définir vos objectifs personnels, 
                        que ce soit la perte de poids, le gain musculaire, l'amélioration de l'endurance ou tout autre défi 
                        que vous souhaitez relever. Grâce à des fonctionnalités de suivi avancées, l'application enregistre vos progrès,
                        ajuste automatiquement vos séances d'entraînement et vous motive à chaque étape.
                    </p> <br />

                    <p>
                        Ergym va au-delà de l'entraînement traditionnel en intégrant des conseils nutritionnels, des rappels 
                        d'hydratation et des analyses de sommeil pour optimiser votre bien-être global. Rejoignez la communauté Ergym,
                        où vous pourrez partager vos réussites, obtenir des conseils d'autres utilisateurs et rester motivé tout au long 
                        de votre parcours de fitness.
                    </p>
                    <a href="">
                        Débuter
                    </a>
                </div>
            </div>
        </div>
    </section>

   
 
</body>

</html>