@{
    ViewData["Title"] = "Acceuil";
}

<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Energym</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap"
          rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
</head>

<body>
    <div class="hero_area">
        
        <!-- slider section -->
        <section class=" slider_section position-relative">
            <div class="slider_container">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-7 offset-md-6 offset-md-5">
                                        <div class="detail-box">
                                            <h2>
                                                Get Your Body
                                            </h2>
                                            <h1>
                                                Fitness Here
                                            </h1>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                                labore et dolore magna aliqua. Ut enim ad minim veniam
                                            </p>
                                            <div class="btn-box">
                                                <a href="" class="btn-1">
                                                    Read More
                                                </a>
                                                <a href="" class="btn-2">
                                                    Get A Quote
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-7 offset-md-6 offset-md-5">
                                        <div class="detail-box">
                                            <h2>
                                                Get Your Body
                                            </h2>
                                            <h1>
                                                Fitness Here
                                            </h1>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                                labore et dolore magna aliqua. Ut enim ad minim veniam
                                            </p>
                                            <div class="btn-box">
                                                <a href="" class="btn-1">
                                                    Read More
                                                </a>
                                                <a href="" class="btn-2">
                                                    Get A Quote
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-7 offset-md-6 offset-md-5">
                                        <div class="detail-box">
                                            <h2>
                                                Get Your Body
                                            </h2>
                                            <h1>
                                                Fitness Here
                                            </h1>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                                labore et dolore magna aliqua. Ut enim ad minim veniam
                                            </p>
                                            <div class="btn-box">
                                                <a href="" class="btn-1">
                                                    Read More
                                                </a>
                                                <a href="" class="btn-2">
                                                    Get A Quote
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end slider section -->
    </div>


    <!-- about section -->

    <section class="about_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    About Energym
                </h2>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="images/about-img.png" alt="">
                </div>
                <div class="detail-box">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis
                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- end about section -->
    <!-- service section -->

    <section class="service_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Our Services
                </h2>
            </div>
            <div class="service_container">
                <div class="box">
                    <img src="images/s-1.jpg" alt="">
                    <h6 class="visible_heading">
                        CROSSFIT TRAINING
                    </h6>
                    <div class="link_box">
                        <a href="">
                            <img src="images/link.png" alt="">
                        </a>
                        <h6>
                            CROSSFIT TRAINING
                        </h6>
                    </div>
                </div>
                <div class="box">
                    <img src="images/s-2.jpg" alt="">
                    <h6 class="visible_heading">
                        FITNESS
                    </h6>
                    <div class="link_box">
                        <a href="">
                            <img src="images/link.png" alt="">
                        </a>
                        <h6>
                            FITNESS
                        </h6>
                    </div>
                </div>
                <div class="box">
                    <img src="images/s-3.jpg" alt="">
                    <h6 class="visible_heading">
                        DYNAMIC STRENGTH TRAINING
                    </h6>
                    <div class="link_box">
                        <a href="">
                            <img src="images/link.png" alt="">
                        </a>
                        <h6>
                            DYNAMIC STRENGTH TRAINING
                        </h6>
                    </div>
                </div>
                <div class="box">
                    <img src="images/s-4.jpg" alt="">
                    <h6 class="visible_heading">
                        HEALTH
                    </h6>
                    <div class="link_box">
                        <a href="">
                            <img src="images/link.png" alt="">
                        </a>
                        <h6>
                            HEALTH
                        </h6>
                    </div>
                </div>
                <div class="box">
                    <img src="images/s-5.jpg" alt="">
                    <h6 class="visible_heading">
                        WORKOUT
                    </h6>
                    <div class="link_box">
                        <a href="">
                            <img src="images/link.png" alt="">
                        </a>
                        <h6>
                            WORKOUT
                        </h6>
                    </div>
                </div>
                <div class="box">
                    <img src="images/s-6.jpg" alt="">
                    <h6 class="visible_heading">
                        STRATEGIES
                    </h6>
                    <div class="link_box">
                        <a href="">
                            <img src="images/link.png" alt="">
                        </a>
                        <h6>
                            STRATEGIES
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end service section -->
    <!-- Us section -->

    <section class="us_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Why Choose Us
                </h2>
            </div>
            <div class="us_container">
                <div class="box">
                    <div class="img-box">
                        <img src="images/u-1.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            QUALITY EQUIPMENT
                        </h5>
                        <p>
                            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="img-box">
                        <img src="images/u-2.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            HEALTHY NUTRITION PLAN
                        </h5>
                        <p>
                            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="img-box">
                        <img src="images/u-3.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            SHOWER SERVICE
                        </h5>
                        <p>
                            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="img-box">
                        <img src="images/u-4.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            UNIQUE TO YOUR NEEDS
                        </h5>
                        <p>
                            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end us section -->
    <!-- client section -->

    <section class="client_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    What Says Our Customers
                </h2>
            </div>
            <div id="carouselExample2Indicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExample2Indicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExample2Indicators" data-slide-to="1"></li>
                    <li data-target="#carouselExample2Indicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/client.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Consectetur
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/client.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Consectetur
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/client.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Consectetur
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- end client section -->
    <!-- result section -->

    <section class="result_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 px-0">
                    <div class="img-box">
                        <img src="images/result-img.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="detail-box">
                        <h2>
                            BUILT TO BRING <br>
                            BEST RESULTS
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                        </p>
                        <a href="">
                            Get A Quote
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end result section -->
    <!-- contact section -->
    <section class="contact_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    <span>
                        Get In Touch
                    </span>
                </h2>
            </div>
            <div class="layout_padding2-top">
                <div class="row">
                    <div class="col-md-6 ">
                        <form action="">
                            <div class="contact_form-container">
                                <div>
                                    <div>
                                        <input type="text" placeholder="Name" />
                                    </div>
                                    <div>
                                        <input type="email" placeholder="Email" />
                                    </div>
                                    <div>
                                        <input type="text" placeholder="Phone Number" />
                                    </div>
                                    <div class="mt-5">
                                        <input type="text" placeholder="Message" />
                                    </div>
                                    <div class="mt-5">
                                        <button type="submit">
                                            Send
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="map_container">
                            <div class="map-responsive">
                                <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France"
                                        width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%"
                                        allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>

